<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/inicio.css')}}">
  <title>Diagnóstico de COVID</title>
</head>
<body>

        <nav class="navbar" style="background-color: #630303;">
            <div class="container-fluid">
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename='imagenes/LogoS.png') }}" alt="Logo" width="250" height="100" class="d-inline-block align-text-top">
            </a>
            </div>
        </nav>

    <div class="container mt-5 p-6">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <h1 class="text-center">Cálculo de probabilidades COVID-19</h1>
                <h3 class="text-center mt-5">Ingresa tus datos</h3>

                <div class="card center-card">
                    <div class="card-body">
                        <form action="/registro" method="POST">
                            
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="nombre">Casos 👥🦠 totales:</label>
                                                <input type="number" id="txtTotales" name="txtTotales" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Casos 👥🦠 confirmados:</label>
                                                <input type="number" id="txtConfirmados" name="txtConfirmados" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Casos 👥 no confirmados:</label>
                                                <input type="number" id="txtNoConfirmados" name="txtNoConfirmados" class="form-control" required readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje hombres infectados 👥:</label>
                                                <input type="number" id="txtInfectadosM" name="txtInfectadosM" class="form-control" step=".01" min="0" max="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje mujeres infectadas 👥:</label>
                                                <input type="number" id="txtInfectadasF" name="txtInfectadasF" class="form-control" step=".01" min="0" max="100" required readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje de 👥 hospitalizados:</label>
                                                <input type="number" id="txtHospitalizados" name="txtHospitalizados" class="form-control" step=".01" min="0" max="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje de 👥 ambulatorios:</label>
                                                <input type="number" id="txtAmbulatorios" name="txtAmbulatorios" class="form-control" step=".01" min="0" max="100" required readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje de 👥 con hipertensión:</label>
                                                <input type="number" id="txtHipertension" name="txtHipertension" class="form-control" step=".01" min="0" max="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje de 👥 con obesidad:</label>
                                                <input type="number" id="txtObesidad" name="txtObesidad"  class="form-control" step=".01" min="0" max="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje de 👥 con diabetes:</label>
                                                <input type="number" id="txtDiabetes" name="txtDiabetes"  class="form-control" step=".01" min="0" max="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje de 👥 con tabaquísmo:</label>
                                                <input type="number" id="txtTabaquismo"name="txtTabaquismo" class="form-control" step=".01" min="0" max="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombre">Porcentaje de 👥 con otras enfermedades:</label>
                                                <input type="number" id="txtOtrasEnfermedades" name="txtOtrasEnfermedades" class="form-control" step=".01" min="0" max="100" required readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger">Calcular probabilidad</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <script>
        // Función para calcular los casos no confirmados
        function calcularCasosNoConfirmados() {
            // Obtener los valores de txtTotales y txtConfirmados
            var totalCasos = parseInt(document.getElementById("txtTotales").value);
            var casosConfirmados = parseInt(document.getElementById("txtConfirmados").value);

            // Calcular los casos no confirmados
            var casosNoConfirmados = totalCasos - casosConfirmados;

            // Mostrar el resultado en el campo de texto de Casos no confirmados
            document.getElementById("txtNoConfirmados").value = casosNoConfirmados;
        }
    </script>
    <script>
        // Función para calcular el complemento del porcentaje de hombres infectados
        function calcularPorcentajeMujeresInfectadas() {
            // Obtener el valor del porcentaje de hombres infectados
            var porcentajeHombresInfectados = parseFloat(document.getElementById("txtInfectadosM").value);

            // Calcular el complemento del porcentaje de hombres infectados
            var porcentajeMujeresInfectadas = 100 - porcentajeHombresInfectados;

            // Mostrar el resultado en el campo de texto de Porcentaje mujeres infectadas
            document.getElementById("txtInfectadasF").value = porcentajeMujeresInfectadas;
        }
    </script>
    <script>
        // Función para calcular el complemento del porcentaje de hospitalizados
        function calcularPorcentajeAmbulatorios() {
            // Obtener el valor del porcentaje de hospitalizados
            var porcentajeHospitalizados = parseFloat(document.getElementById("txtHospitalizados").value);

            // Calcular el complemento del porcentaje de hospitalizados
            var porcentajeAmbulatorios = 100 - porcentajeHospitalizados;

            // Mostrar el resultado en el campo de texto de Porcentaje de ambulatorios
            document.getElementById("txtAmbulatorios").value = porcentajeAmbulatorios;
        }
    </script>
    <script>
        // Función para calcular el porcentaje de otras enfermedades
        function calcularPorcentajeOtrasEnfermedades() {
            // Obtener los valores de los porcentajes de las enfermedades
            var porcentajeHipertension = parseFloat(document.getElementById("txtHipertension").value);
            var porcentajeObesidad = parseFloat(document.getElementById("txtObesidad").value);
            var porcentajeDiabetes = parseFloat(document.getElementById("txtDiabetes").value);
            var porcentajeTabaquismo = parseFloat(document.getElementById("txtTabaquismo").value);

            // Calcular la suma de los porcentajes de las enfermedades
            var sumaPorcentajes = porcentajeHipertension + porcentajeObesidad + porcentajeDiabetes + porcentajeTabaquismo;

            // Calcular el porcentaje de otras enfermedades
            var porcentajeOtrasEnfermedades = 100 - sumaPorcentajes;

            // Mostrar el resultado en el campo de texto de Porcentaje de otras enfermedades
            document.getElementById("txtOtrasEnfermedades").value = porcentajeOtrasEnfermedades;
        }
    </script>
    <script>
        document.getElementById("txtTotales").addEventListener("change", calcularCasosNoConfirmados);
        document.getElementById("txtConfirmados").addEventListener("change", calcularCasosNoConfirmados);
    </script>
    <script>
        document.getElementById("txtInfectadosM").addEventListener("change", calcularPorcentajeMujeresInfectadas);
    </script>
    <script>
        document.getElementById("txtHospitalizados").addEventListener("change", calcularPorcentajeAmbulatorios);
    </script>
    <script>
        document.getElementById("txtHipertension").addEventListener("change", calcularPorcentajeOtrasEnfermedades);
        document.getElementById("txtObesidad").addEventListener("change", calcularPorcentajeOtrasEnfermedades);
        document.getElementById("txtDiabetes").addEventListener("change", calcularPorcentajeOtrasEnfermedades);
        document.getElementById("txtTabaquismo").addEventListener("change", calcularPorcentajeOtrasEnfermedades);
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>